@charset "utf-8";
/* hcysun  */
/* reset */
html {
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  font-family: 'Georgia', Helvetica;
}
body {
  font-size: 12px;
  background-color: #f8f8f8;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd,
ul,
ol,
pre,
form,
input,
textarea,
th,
td,
select {
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-indent: 0;
}
a,
button,
input,
textarea,
select {
  background: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  outline: none;
  -webkit-appearance: none;
}
em {
  font-style: normal;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  border: none;
  vertical-align: top;
}
table {
  border-collapse: collapse;
}
textarea {
  resize: none;
  overflow: auto;
}
/* end reset */
