@charset "utf-8";
/* hcysun  */
/* reset */
html {
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  font-family: 'Georgia', Helvetica;
}
body {
  font-size: 12px;
  background-color: #f8f8f8;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd,
ul,
ol,
pre,
form,
input,
textarea,
th,
td,
select {
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-indent: 0;
}
a,
button,
input,
textarea,
select {
  background: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  outline: none;
  -webkit-appearance: none;
}
em {
  font-style: normal;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  border: none;
  vertical-align: top;
}
table {
  border-collapse: collapse;
}
textarea {
  resize: none;
  overflow: auto;
}
/* end reset */
/* 清除浮动 */
.clear {
  zoom: 1;
}
.clear:after {
  content: '';
  display: block;
  clear: both;
}
.search-mark {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 900;
  transition: 0.5s;
}
.search-mark.active {
  display: block;
  background-color: rgba(127, 116, 213, 0.5);
}
.sidebar-content {
  margin-left: 70%;
  margin-right: 70px;
  padding-top: 100px;
  position: sticky;
  top: 0;
  min-width: 245px;
}
.sidebar-content h2 {
  font-size: 26px;
  color: #7f74d5;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #eee8d3;
}
.sidebar-content .sidebar-img-panel {
  margin-bottom: 20px;
  height: 40px;
}
.sidebar-content .sidebar-img-panel a {
  color: #7f74d5;
  font-size: 40px;
  margin-right: 20px;
  height: 40px;
  width: 40px;
  display: inline-block;
  transition: 0.3s;
}
.sidebar-content .sidebar-img-panel a:hover {
  color: #f26ffa;
}
.sidebar-content .sidebar-img-panel .zhihu-fa {
  font-size: 24px;
  height: 36px;
  width: 36px;
  color: #fff;
  background-color: #7f74d5;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  vertical-align: bottom;
  transition: 0.3s;
}
.sidebar-content .sidebar-img-panel .zhihu-fa:hover {
  color: #fff;
  background-color: #f26ffa;
}
.sidebar-content .archive-list-item {
  line-height: 20px;
  transition: 0.3s;
}
.sidebar-content .archive-list-item:hover {
  transform: translateX(5px);
}
.sidebar-content .archive-list-item a {
  color: #7f74d5;
  margin-right: 10px;
}
.sidebar-content .archive-list-item .archive-list-count {
  color: #f26ffa;
}
.sidebar-content .archive-list-item .archive-list-count:before {
  content: "(";
}
.sidebar-content .archive-list-item .archive-list-count:after {
  content: ")";
}
.sidebar-content .toc-level-1,
.sidebar-content .toc-level-2,
.sidebar-content .toc-level-3,
.sidebar-content .toc-level-4,
.sidebar-content .toc-level-5,
.sidebar-content .toc-level-6 {
  line-height: 20px;
}
.sidebar-content .toc-level-1 a,
.sidebar-content .toc-level-2 a,
.sidebar-content .toc-level-3 a,
.sidebar-content .toc-level-4 a,
.sidebar-content .toc-level-5 a,
.sidebar-content .toc-level-6 a {
  color: #7f74d5;
  transition: 0.3s;
}
.sidebar-content .toc-level-1 a:hover,
.sidebar-content .toc-level-2 a:hover,
.sidebar-content .toc-level-3 a:hover,
.sidebar-content .toc-level-4 a:hover,
.sidebar-content .toc-level-5 a:hover,
.sidebar-content .toc-level-6 a:hover {
  color: #f26ffa;
}
.sidebar-content .toc-level-2 {
  padding-left: 10px;
}
.sidebar-content .toc-level-3 {
  padding-left: 20px;
}
.sidebar-content .toc-level-4 {
  padding-left: 30px;
}
.sidebar-content .toc-level-5 {
  padding-left: 40px;
}
.sidebar-content .toc-level-6 {
  padding-left: 50px;
}
@media screen and (max-width: 840px) {
  .sidebar-content {
    margin: 0;
    padding-top: 0;
    position: relative;
  }
  .sidebar-content h2 {
    text-align: center;
  }
  .sidebar-content .sidebar-img-panel {
    text-align: center;
  }
  .sidebar-content .sidebar-img-panel a:last-of-type {
    margin-right: 0;
  }
  .sidebar-content .archive-list {
    padding-bottom: 70px;
  }
  .sidebar-content .archive-list-item {
    text-align: center;
  }
  .sidebar-content .toc {
    position: fixed;
    background-color: #fff;
    top: 60px;
    right: 0;
    width: 300px;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
    padding: 5px;
    transition: 0.4s;
    transform: translateX(101%);
  }
  .sidebar-content .toc.active {
    transform: translateX(0);
  }
}
html {
  height: 100%;
}
html,
body,
#container,
#wrap {
  min-height: 100%;
  position: relative;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: #fff;
  box-shadow: 0 0 5px #ccc;
  z-index: 1000;
}
#header .header-content {
  background: #fff;
  position: relative;
  z-index: 2;
}
#header #logo-wrap {
  float: left;
  margin-left: 70px;
  height: 100%;
  line-height: 70px;
}
#header #logo-wrap img {
  width: 50px;
  border-radius: 10px;
  box-shadow: 0 0 5px #ccc;
  margin-top: 10px;
}
#header #logo-wrap .title {
  font-size: 32px;
  color: #7f74d5;
  margin-left: 20px;
}
#header .main-nav {
  float: left;
  margin-left: 80px;
}
#header .main-nav a {
  float: left;
  height: 70px;
  line-height: 70px;
  font-size: 20px;
  margin-right: 25px;
  color: #7f74d5;
}
#header .search-box {
  float: right;
  margin-right: 60px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-top: 20px;
  transform: scale(1);
}
#header .search-box img {
  display: block;
  width: 100%;
  height: 100%;
}
#header .search-box:hover {
  transition: .3s;
  transform: scale(1.2);
}
#header .search-input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px 0;
  transform: translateY(-100%);
  background-color: #fff;
  transition: 0.5s;
}
#header .search-input.active {
  transform: translateY(70px);
}
#header .search-input .search-input-el {
  margin-left: 70px;
}
#header .search-input .search-input-el input[type=search] {
  display: block;
  height: 65px;
  border: 1px solid #fff;
  font-size: 65px;
}
#header .search-input input[type=search]::-webkit-input-placeholder {
  color: #d3d5cf;
  font-family: 'Georgia', Helvetica;
}
#header .sm-nav-bar,
#header .sm-nav,
#header .sm-nav-toc {
  display: none;
}
@media screen and (max-width: 860px) {
  #header {
    height: 40px;
  }
  #header #logo-wrap {
    margin-left: 20px;
    line-height: 40px;
  }
  #header #logo-wrap img {
    width: 30px;
    margin-top: 5px;
  }
  #header #logo-wrap .title {
    font-size: 18px;
  }
  #header .main-nav,
  #header .search-input,
  #header .search-box {
    display: none;
  }
  #header .sm-nav-bar {
    height: 40px;
    line-height: 40px;
    display: block;
    float: right;
    font-size: 30px;
    margin-right: 20px;
  }
  #header .sm-nav {
    display: block;
    transform: translateY(-100%);
    transition: 0.5s;
    box-shadow: 0 0 5px #ccc;
    background-color: #fff;
  }
  #header .sm-nav.active {
    transform: translateY(0);
  }
  #header .sm-nav a {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    color: #7f74d5;
    border-top: 1px dotted #eee8d3;
  }
  #header .sm-nav a:last-of-type {
    border-bottom: 1px dotted #eee8d3;
  }
  #header .sm-nav form {
    padding: 5px 20px;
  }
  #header .sm-nav .sm-search-input-el-input {
    height: 30px;
    display: block;
    width: 100%;
    text-align: center;
    border: 1px solid #eaeaea;
    border-radius: 4px;
  }
}
@media screen and (max-width: 840px) {
  #header .sm-nav-toc {
    display: block;
    float: right;
    height: 40px;
    line-height: 40px;
    margin-right: 20px;
    color: #7f74d5;
  }
}
#main {
  width: 67%;
  float: left;
}
@media screen and (max-width: 840px) {
  #main {
    width: 100%;
    float: none;
  }
}
.main {
  padding-top: 88px;
  padding-bottom: 70px;
}
.main .index-content {
  margin-left: 70px;
}
.main .post-item {
  display: flex;
  height: 34px;
  padding: 10px 0;
  transition: 0.5s;
}
.main .post-item:hover {
  transform: skew(-10deg);
  transform-origin: 0 50%;
  box-shadow: 0 0 5px #ccc;
}
.main .post-date {
  flex: 1;
  font-size: 15px;
  color: #f26ffa;
  line-height: 34px;
  margin-right: 28px;
  position: relative;
  padding-left: 20px;
}
.main .post-date:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f26ffa;
  top: 50%;
  left: 0;
  margin-top: -5px;
}
@media screen and (max-width: 1270px) {
  .main .post-date {
    flex: 1.5;
  }
}
@media screen and (max-width: 960px) {
  .main .post-date {
    flex: 2;
  }
}
@media screen and (max-width: 550px) {
  .main .post-date {
    flex: 3;
    margin-right: 5px;
    font-size: 12px;
  }
}
.main .post-title {
  flex: 8;
  max-width: 680px;
  font-size: 24px;
  color: #7f74d5;
  line-height: 34px;
  margin-right: 25px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.main .post-monment {
  float: left;
  font-size: 15px;
  color: #35e2eb;
  line-height: 34px;
}
@media screen and (max-width: 860px) {
  .main {
    padding-bottom: 40px;
  }
  .main .index-content {
    margin-left: 40px;
  }
  .main .post-title {
    font-size: 20px;
  }
}
@media screen and (max-width: 860px) {
  .main .index-content {
    margin-right: 40px;
  }
}
@media screen and (max-width: 550px) {
  .main .index-content {
    margin-left: 20px;
    margin-right: 20px;
  }
  .main .post-title {
    font-size: 16px;
    margin-right: 0;
  }
}
@media screen and (max-width: 320px) {
  .main .index-content {
    margin-left: 10px;
    margin-right: 10px;
  }
  .main .post-title {
    font-size: 14px;
    margin-right: 0;
  }
}
.post-content {
  margin-left: 70px;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (max-width: 840px) {
  .post-content {
    margin: 0 40px;
  }
}
@media screen and (max-width: 420px) {
  .post-content {
    padding-top: 0;
    margin: 0 20px;
  }
}
.post-content .post-page-title {
  color: #7f74d5;
  font-size: 34px;
  margin-bottom: 50px;
}
@media screen and (max-width: 420px) {
  .post-content .post-page-title {
    font-size: 26px;
    margin-bottom: 20px;
  }
}
.post-content h2 {
  font-size: 36px;
  color: #7f74d5;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee8d3;
  margin-top: 40px;
}
@media screen and (max-width: 420px) {
  .post-content h2 {
    font-size: 22px;
  }
}
.post-content h3 {
  position: relative;
  font-size: 24px;
  color: #7f74d5;
  padding-left: 20px;
  padding-bottom: 15px;
  border-bottom: 1px dotted #eee8d3;
  margin-top: 30px;
  margin-bottom: 30px;
}
.post-content h3:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #7f74d5;
  top: 50%;
  left: 0;
  margin-top: -12px;
}
@media screen and (max-width: 420px) {
  .post-content h3 {
    font-size: 20px;
  }
}
.post-content p {
  line-height: 28px;
  font-size: 18px;
  color: #b68a00;
  margin-top: 16px;
}
@media screen and (max-width: 420px) {
  .post-content p {
    font-size: 14px;
  }
}
.post-content a {
  color: #7f74d5;
  text-decoration: underline;
}
.post-content img {
  max-width: 100%;
}
.post-content pre {
  margin: 20px 0;
}
.post-content blockquote {
  padding: 15px 20px;
  margin-top: 10px;
  border-left: 5px solid #7f74d5;
  background: #fff;
  margin-left: 0;
  margin-right: 0;
}
.post-content blockquote p {
  margin: 0;
}
.post-content p code {
  padding: 1px 3px;
  margin: 0 3px;
  color: #bd10e0;
  border-radius: 4px;
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
  word-wrap: break-word;
  font-size: 14px;
}
.hljs {
  background-color: transparent;
  padding: 1em;
}
code {
  font-size: 15px;
  border: 1px solid #eee8d5;
}
.paginator-wrap {
  margin-left: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.page-number,
.extend {
  display: inline-block;
  width: 44px;
  height: 44px;
  border: 1px solid #ddd;
  margin-right: 15px;
  color: #a9a9a9;
  line-height: 44px;
  text-align: center;
  font-size: 24px;
}
.page-number.current,
.extend.current,
.page-number:hover,
.extend:hover {
  color: #fff;
  background-color: #6866d4;
  border-color: #6866d4;
}
@media screen and (max-width: 840px) {
  .paginator-wrap {
    margin-left: 0;
    text-align: center;
  }
}
#disqus_thread {
  margin-left: 70px;
}
@media screen and (max-width: 840px) {
  #disqus_thread {
    margin: 0 40px;
  }
}
#footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 12px;
  color: #fff;
  background: #2b2b2b;
}
